{{set . "title" "Subs"}}
{{template "header.html" .}}

<h1>Subscriptions</h1>

<form method="POST" action="{{url "Subscriptions.Create"}}">


    <div>
        <label>Subredit</label>
        <input name="subscription.Subredit" required />
    </div>
    <div>
        <label>MaxDailyPosts</label>
        <input name="subscription.MaxDailyPosts" type="number" min="1" max="25" />

    </div>

    <div>
        <label>Min Vote Ratio</label>
        <input name="subscription.MinVoteRatio" type="number" min="-100" max="100" />
    </div>

    <div>
        <label>Min Vote Count</label>
        <input name="subscription.MinVoteCount" type="number" min="1" />
    </div>

    <div>
        <label>Min Number Of Comments</label>
        <input name="subscription.MinNumberOfComments" type="number" min="1" />
    </div>

    <div>
        <label>Include Comments?</label>
        <input name="subscription.IncludeComments" type="checkbox" />
    </div>

    <div>
        <label>Include User Names?</label>
        <input name="subscription.IncludeUserNames" type="checkbox" />
    </div>
    <p class="buttons">
        <input type="submit" value="Create" name="Create">
    </p>
</form>


{{if not .subscriptions}}
<p>
    No subs Found
</p>
{{else}}


<table>
    <thead>
        <tr>
            <!-- <th>Frequency</th> -->
            <!-- <th>OwnerID</th> -->
            <th>Subredit</th>
            <th>Max Daily Posts</th>
            <th>min Vote ratio</th>
            <th>min Vote count</th>
            <th>min number of comments</th>
            <th>IncludeComments</th>
            <th>IncludeUserNames</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {{range .subscriptions}}

        <tr>
            <!-- <td>{{.Frequency}}</td> -->
            <!-- <td>{{.OwnerID}}</td> -->
            <td>{{.Subredit}}</td>
            <td>{{.MaxDailyPosts}}</td>
            <th>{{.MinVoteRatio}}</th>
            <th>{{.MinVoteCount}}</th>
            <th>{{.MinNumberOfComments}}</th>
            <td>{{.IncludeComments}}</td>
            <td>{{.IncludeUserNames}}</td>
            <td><a href="/feed/{{.SubscriptionID}}.rss">RSS Link</a></td>
            <td>
                <form id="d{{.SubscriptionID}}" method="POST" action="/subscriptions/{{.SubscriptionID}}/delete">
                    <!-- <a href="javascript:document.getElementById('d{{.SubscriptionID}}').submit();">Delete</a> -->
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{template "footer.html" .}}